:root {
    --c1: #000000;
    --c2: #282A3A;
    --c3: #735F32;
    --c4: #C69749;
}
* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body {
    color: var(--c4);
}

/* Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: var(--c1);
    color: var(--c4);
    padding: 0 50px;
}

#highscoresTable {
    text-decoration: none;
    color: var(--c4);
}

/* Title Container */
#titleContainer {
    text-align: center;
}

/* Main Content */
#gameContainer {
    text-align: center;
}

#level {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

button {
    width: 300px;
    padding: 20px;
    margin: 10px 0;
    background-color: var(--c1);
    color: var(--c4);
    font-weight: bold;
    font-size: 24px;
}

/* Boxes */
.row {
    display: flex;
}

.col {
    height: 250px;
    width: 250px;
    margin: 10px;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

.flash {
    background-color: black;
}

/* Highscores Section */
#highscoresSection {
    /* display: none; */
}

/* Footer Section */
footer {
    text-align: center;
}

/* Contact Info */
.contact-icon-img {
    height: 50px;
    width: 50px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
}

.contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-group-inner {
    border-right: 1px solid;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0px;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.contact-text-link {
    display: none;
}

.contact-text-link,
.phone-text {
    font-size: 24px;
    font-weight: bold;
}

.phone-icon-group {
    position: relative;
}

.phone-text {
    position: absolute;
    display: none;
}

/* Effects for Phone Icon Only */
.phone-icon-group:hover .contact-icon-img {
    opacity: .2;
}

.phone-icon-group:hover .phone-text {
    display: block;
    opacity: 1;
}



