:root {
    --c1: #000000;
    --c2: #282A3A;
    --c3: #735F32;
    --c4: #C69749;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

main {
    height: 100vh;
    border: 1px solid black;
    padding: 0;
    background-color: var(--c4);
}

#titleEl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--c2)
}

#newHighscoreTable {
    background-color: whitesmoke;
    width: 50%;
    padding: 20px;
}

.highscoresEntry {
    padding: 20px 0;
    border-bottom: 1px solid black;
    width: 75%;
    font-size: 18px;
}
