:root {
    --c1: #000000;
    --c2: #282A3A;
    --c3: #735F32;
    --c4: #C69749;
}
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    color: var(--c4);
    background-position: center;
    background-repeat: none;
    background-size:cover;
}

/* Header Section */
header, footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: var(--c1);
    color: var(--c4);
    padding: 0 50px;
}

footer {
    flex-direction: column;
    margin-bottom: 0;
    padding: 20px;
    height: 100%;
}

#highscoresTable {
    text-decoration: none;
    color: var(--c4);
}

/* Title Container */
#titleContainer {
    text-align: center;
}

/* Main Content */
#level {
    display: none;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 50px 0; */
}

button {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--c1);
    color: var(--c4);
    font-weight: bold;
    font-size: 16px;
}

/* Boxes */
.row {
    display: flex;
}
#gameContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/graniteBg.jpg);
    background-position: center;
    background-repeat: none;
    background-size: fill;
    margin: 0 auto;
    opacity: .5;
}

.col {
    height: 250px;
    width: 250px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 25px;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

.flash {
    background-color: black;
}

.gameTimer {
    display: none;
}

/* Highscores Section */
#error {
    text-align: center;
    display: none;
    font-size: 30px;
}

.formEl {
    font-size: 20px;
}

#initials-submit-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin: 20px auto;
}

#initialsInput {
    margin: 10px;
    padding: 5px 0;
    line-height: 2rem;
}

#highscoresTable {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.highscoresEntry {
    display: flex;
    width: 400px;
    margin: 5px auto;
    justify-content: space-between;
}

.username {
    font-weight: bold;
}


#highscoresSection {
    text-align: center;
    display: none;
}

/* Footer Section */
footer {
    text-align: center;
}

/* Contact Info */
.contact-icon-img {
    height: 50px;
    width: 50px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
}

.contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0px;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.contact-text-link {
    display: none;
}

.contact-text-link,
.phone-text {
    font-size: 24px;
    font-weight: bold;
}

.phone-icon-group {
    position: relative;
}

.phone-text {
    position: absolute;
    display: none;
}

/* Effects for Phone Icon Only */
.phone-icon-group:hover .contact-icon-img {
    opacity: .2;
}

.phone-icon-group:hover .phone-text {
    display: block;
    opacity: 1;
}



